<h1 class='index-title'>Calendar Me</h1>

<script type="text/javascript">
  function addEvent(event) {
    alert(event[0] + '\n' +
    "Start: " + event[1] + '\n' +
    "End: " + event[2])
  }
</script>

  <div class='calendar' id='app'></div>

<br/>
<br/>

<div>
  <% @events_list.each do |event| %>
    <div>
      <% eventData = [event['name']['text'], event['start']['utc'], event['end']['utc']] %>
      <% if (event['logo'] != nil) %>
        <% logo = event['logo']['original']['url'] %>
        <p><img class='event-logo' src="<%=logo%>" alt='image'/></p>
          <a onclick="addEvent(<%= eventData %>)" class='event-name'>
            <div class='event-container'>
              <%= event['name']['text']%>
            </div>
          </a>
        <div class='description-container'>
        <div><%= event['description']['text'] %></div>
        <p class='event-start-end'>Event Start: <%= event['start']['utc'] %> | Event End: <%= event['end']['utc'] %></p>
        </div>
        <br/>
        <br/>
      <% else %>
        <div class='event-container'>
          <a onclick="addEvent(<%= eventData %>)" class='event-name'> <%= event['name']['text']%> </a>
        </div>
        <div class='description-container'>
        <p><%= event['description']['text'] %></p>
        <p class='event-start-end'>Event Start: <%= event['start']['utc'] %> | Event End: <%= event['end']['utc'] %></p>
        </div>
        <br/>
        <br/>
      <% end %>
    </div>
    <% end %>
</div>
